<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contatti</h2>
                <div class="col-md-6">
                        <span class="fa-stack fa-2x">
                                <i class="fab fa-whatsapp fa-stack-2x fa-inverse"></i>
                            </span>
                        <h4 class="section-subheading text-inverted">Da 1 a 16 passeggeri:</h4>
                        <p class="text-inverted"><a href="tel:+44 7956 149 420">+44 7956 149 420</a></p>
                    </div>
                    <div class="col-md-6">
                        <span class="fa-stack fa-2x">
                                <i class="fas fa-at fa-stack-2x fa-inverse"></i><i class=""></i>
                            </span>
                        <h4 class="section-subheading text-inverted">Da 17 passeggeri in su:</h4>
                        <p class="text-muted text-inverted"><a href="malito:info@londracarservices.com">info@londracarservices.com</a> </p>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12 text-center">
                        <div id="success"></div>
                        <a href="{{site.baseurl}}/booking" class="btn btn-xl">Prenota Ora</a>
                    </div>
            </div>
        </div>
    </div>
</section>
