<!-- Clients Aside -->
<aside class="clients">

    <div class="container">
        <div class="row">
                <div class="col-md-3 col-sm-6 text-center">
                        <a href="#">
                            <img src="img/tripadvisor_2019.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter align-middle">
                    <i class="fa fa-users fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="1258" data-speed="1500"></h2>
                    <p class="count-text ">Clienti Soddisfatti</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter align-middle">
                    <i class="fa fa-comments fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="167" data-speed="1500"></h2>
                    <p class="count-text ">Recensioni</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter align-middle">
                    <i class="fa fa-bus fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="396" data-speed="1500"></h2>
                    <p class="count-text ">Tour di Londra</p>
                </div>
            </div>
        </div>
    </div>
</aside>